.input {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid var(--text-primary);
  background: var(--bg-secondary);
  color: var(--text-primary);
  width: 100%;
  font-size: 14px;
  font-weight: 500;

  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(212, 175, 55, 0.15);
}

.input::placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}